.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  width: 100%;
  text-align: center;
}
th {
  background-color: #0F2C52;
  color: #ffffff;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}

header {
  background: #0f2c52;
  height: 65px;
  display: flex;
  align-items: center;
}

header img {
  max-width: 200px;
}

.container {
  padding: 20px;
}
 
button {
  padding: 10px;
  background-color: #0F2C52;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
}

.titulo {
  font-weight: bold;
  text-align: center;
}

.pendiente {
  color: #F89C0E;
  font-weight: bold;
}

.aprobado {
  color:green;
  font-weight: bold;
}
